.container {
    border: 9px solid red;
   height: 200px;
   width: 150px;
   border-radius: 5px;
   margin: auto;
   margin-top: 55px;
   background-color: rgba(245, 179, 179, 0.288);
}
 .cont {
   border: 1px solid black;
   border-radius: 5px;
   height: 80px;
   width: 125px;
   
   margin: auto;
   margin-top: 15px;
   background-color: rgb(0, 128, 21);
}
.btn {
   border: none;
}
#rr{
   
   color: red;
   margin-top: 45px;
   margin-left: 95px;
   border: 1px solid blanchedalmond;
   border-radius: 40%;}
